@font-face { font-family: Berling; src: url('fonts/berlingskesans-lt-webfont.ttf'); } 
@font-face { font-family: Berling; font-weight: bold; src: url('fonts/berlingskesans-bd-webfont.ttf');}

.blur-div{
    height: 100%;
    width: 100%;
    background-color: #0000005c;
    position: absolute;
    margin: 0px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.GlennText{
    font-size: 75px;
    font-family: Berling;
    font-weight: bold;
    text-align: center;
    margin: 0px;
}

.center{
    display: block;
    justify-content: center;
    align-items: center;
}

.logos{
    padding: 5px;
    text-align: center;
}

.logos > a > img{
    padding: 30px;
}

a:link {
    color: transparent;
}

a:visited {
    color: transparent;
}

h1, a, body, html, div {
    -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
     -khtml-user-select: none; /* Konqueror HTML */
       -moz-user-select: none; /* Firefox */
        -ms-user-select: none; /* Internet Explorer/Edge */
            user-select: none; /* Non-prefixed version, currently
                                  supported by Chrome and Opera */
}

body{
    background-image: url("Resources/STHLMHorizontal-1920x1440.jpg");
    background-size: 100%;
    margin: 0px;
}
