.center {
    margin: auto;
    margin-top: 7%;
    width: 50%;
    border: 3px solid #E2007F;
    padding: 10px;
    text-align: center;
}

.background{
    width: 200px;
    height: 150px;
    overflow: hidden;
    position: relative;
}

h1{
    position: absolute;

    font-size: 75px;
    font-family: Baloo Paaji;

    margin-top: -65%;
    margin-left: 32%;
}

.logos{
   position: absolute;

   margin-top: -50%;
   margin-left: 35%;

   padding: 5px;
}

.logos > a > img{
    padding: 30px;
}

a:link {
    color: transparent;
}

a:visited {
    color: transparent;
}

h1, a, body, html, div {
    -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
     -khtml-user-select: none; /* Konqueror HTML */
       -moz-user-select: none; /* Firefox */
        -ms-user-select: none; /* Internet Explorer/Edge */
            user-select: none; /* Non-prefixed version, currently
                                  supported by Chrome and Opera */
}

html, body {
    margin: 0px;
    width: 100%;
    overflow: hidden
}
